

  <h1 class="opinion-new">
  	<small>
  		<p class="goiken-form">ご意見投稿フォーム</p>
		  <%= form_for @opinion do |o| %>
		    <p class="o-p"><label class="oo-label">件名</label></p>
			　  <p><%= o.text_field :opinion_title, class: "o-opinion" %></p>
			    <p class="o-p"><label class="o-label">ご意見内容</label></p>
				  <p class="o-p"><%= o.text_area :opinion_text, class: "o-text" %></p>
				    <p><%= o.submit "送信", class: "o-touroku", :style=>"color:black;" %></p>

	    <% end %>
	</small>
</h1>

<!-- You can add more ".slideshow-image" elements, but remember to update the "$items" variable on SCSS -->
<div class="slideshow">
  <div class="slideshow-image" style="background-image: url(/二郎.jpg)"></div>
  <div class="slideshow-image" style="background-image: url(/login1.jpg)"></div>
  <div class="slideshow-image" style="background-image: url(/login2.jpg)"></div>
  <div class="slideshow-image" style="background-image: url(/mita.jpg)"></div>
</div>